openapi: 3.0.0
info:
  title: Einleitung
  version: 0.1.0
  description: These are the docs for the PS HouseTech Backend API.
  contact:
    name: PS HouseTech
    url: https://zivgitlab.uni-muenster.de/ml-de/teaching/ps-house-tech/
  license:
    name: MIT-Lizenz
    url: https://de.wikipedia.org/wiki/MIT-Lizenz
servers:
  - url: https://ps-housetech.uni-muenster.de/
    description: Production Server (you need to be in the Uni Muenster network)
    variables:
      lang:
        default: de
        enum:
          - de
          - en
        description: Sprache mit der API Anfragen beantwortet werden.
paths:
  /api/health-check-flask:
    summary: Health Check - Flask
    description: Überprüfen ob das Flask-Backend funktioniert.
    get:
      summary: Health Check - Flask
      description: Status des Flask-Backend abfragen.
      operationId: status-flask
      responses:
        '200':
          description: Status des Services.
          content:
            application/json:
              examples:
                Status:
                  value: '{"status": "running"}'
      tags:
        - health-check
  /api/health-check-nginx:
    summary: Health Check - Nginx
    description: Überprüfen ob Nginx funktioniert.
    get:
      summary: Health Check - Nginx
      description: Status von Nginx abfragen.
      operationId: status-nginx
      responses:
        '200':
          description: Status des Services.
          content:
            application/json:
              examples:
                Status:
                  value: '{"status": "running"}'
      tags:
        - health-check
  /api/health-check-next:
    summary: Health Check - Next
    description: Überprüfen ob Next funktioniert.
    get:
      summary: Health Check - Next
      description: Status von Next abfragen.
      operationId: status-next
      responses:
        '200':
          description: Status des Services.
          content:
            application/json:
              examples:
                Status:
                  value: '{"status": "running"}'
      tags:
        - health-check
  /api/bus:
    summary: Bus Data - Stadtwerke Münster
    description: Abfragen der Bus Daten von den Stadtwerken Münster.
    get:
      summary: Bus Daten - Stadtwerke
      description: Abfragen der Bus Daten von den Stadtwerken Münster.
      operationId: bus-data
      responses:
        '200':
          description: >-
            Abfragen der Bus Daten von den Stadtwerken Münster für Haltestellen
            am Leo-Campus.
          content:
            application/json:
              examples:
                Bus Data:
                  value:
                    properties:
                      richtung: string
                      nr: string
                      lbez: string
                      typ: string
                      kbez: string
                    geometry:
                      coordinates:
                        - 0
      tags:
        - bus-data
  /api/calendar:
    summary: Calendar Data - Exchange Server
    description: Get access to Exchange Server and retrieve Exchange Calendar
    get:
      summary: Calendar Data - Exchange Server
      description: >-
        access to exchange server of each room in Leonardo Campus
        Wirtschaftsinformatik Building and fetch the calendar events of each
        room
      operationId: exchange-data
      responses:
        '200':
          description: >-
            retrieve exchange calendar data of room in Leonardo Campus 
             Wirtschaftsinformatik Building
          content:
            application/json:
              examples:
                calendar data:
                  value:
                    properties:
                      title: string
                      organizer_name: string
                      organizer_email: string
                      location: string
                      duration: string
                      start: string
                      end: string

      tags:
        - exchange-data
  /api:
    summary: Redirect - API Docs
    description: Weiterleitung zu der API Dokumentation.
    head:
      summary: API Dokumentation
      description: Weiterleitung zu der API Dokumentation
      operationId: redirect-api
      responses:
        '302':
          description: Weiterleitung zu der API Dokumentation
      tags:
        - weitere-abfragen
tags:
  - name: health-check
    description: Überprüfen ob Services ordentlich funktionieren.
  - name: bus-data
    description: Abfragen der Bus Daten von den Stadtwerken Münster.
  - name: weitere-abfragen
    description: Weitere Abfragen
x-tagGroups:
  - name: Health Check
    tags:
      - health-check
  - name: bus-data
    tags:
      - bus-data
  - name: weitere-abfragen
    tags:
      - weitere-abfragen
externalDocs:
  url: /docs
  description: Dokumentation von PS HouseTech.
